New_Lead.json
{
  "name": "New Lead",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Deatils",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name"
            },
            {
              "fieldLabel": "Last Name"
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "Budget",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "100-1000"
                  },
                  {
                    "option": "1000+"
                  },
                  {
                    "option": "0-100"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "c769c5bc-4578-41bc-b998-24bbfc0bee98",
      "name": "On form submission",
      "webhookId": "cc8b0ca6-e1c6-42f7-afeb-54208281adbe"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "172_EETVO-v_VOZy7SjE85o15-d0qt47CLKIBTO9OAQk",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/172_EETVO-v_VOZy7SjE85o15-d0qt47CLKIBTO9OAQk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/172_EETVO-v_VOZy7SjE85o15-d0qt47CLKIBTO9OAQk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $json['First Name'] }}",
            "Email": "={{ $json.Email }}",
            "Last Name": "={{ $json['Last Name'] }}",
            "Message": "={{ $json.Message }}",
            "Budget": "={{ $json.Budget }}",
            "Date": "={{ $now }}",
            "Rejected": "={{ $if($json.Budget == \"1000+\",\"FALSE\",\"TRUE\") }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rejected",
              "displayName": "Rejected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        0
      ],
      "id": "baf07950-4d08-4a11-b13f-6e00e5760834",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hd5msvxBQX3Lm5Yu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "31a8ba71-f165-42aa-8d1d-43ce6f5fde93",
              "leftValue": "={{ $json.Budget }}",
              "rightValue": "O-100",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "4204c3de-ebc8-4f0b-b068-dece8fbcc78f",
      "name": "Filter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('On form submission').item.json.Budget }}",
                    "rightValue": "100-1000",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "32086a4c-4ee3-4f20-9b50-ca965082639b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8cfcb413-648d-435e-8fbc-36cbbe1fbd64",
                    "leftValue": "={{ $('On form submission').item.json.Budget }}",
                    "rightValue": "1000+",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        0
      ],
      "id": "90e2593b-689c-4736-ba23-d520a9142532",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets').item.json.Email }}",
        "subject": "thanks",
        "emailType": "text",
        "message": "=Hey  {{ $('Google Sheets').item.json['First Name'] }}\n\nTHaanks again.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        -100
      ],
      "id": "0a1d0cf5-dda5-46d9-a30e-16386e1901bd",
      "name": "Gmail",
      "webhookId": "38baf0ae-b088-40e2-a97c-2c5cb104c95d",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZWT6yMa5kJzgmMcD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets').item.json.Email }}",
        "subject": "thanks",
        "emailType": "text",
        "message": "=Hey  {{ $('Google Sheets').item.json['First Name'] }}\n\nTHaanks again. bye",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        120
      ],
      "id": "1b392424-7d07-49d0-a475-cfd850ef5b68",
      "name": "Gmail1",
      "webhookId": "38baf0ae-b088-40e2-a97c-2c5cb104c95d",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZWT6yMa5kJzgmMcD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1100,
        0
      ],
      "id": "6f001eae-3f1c-4f47-ab22-0704f4338941",
      "name": "Merge"
    },
    {
      "parameters": {
        "sendTo": "=hi.midhunsaireddy04@gmail.com",
        "subject": "thanks",
        "emailType": "text",
        "message": "=Hey  {{ $('Google Sheets').item.json['First Name'] }}\n\nname:{{ $('On form submission').item.json['First Name'] }} {{ $('On form submission').item.json['Last Name'] }}\nemail:{{ $('On form submission').item.json.Email }}\nbufget:{{ $('On form submission').item.json.Budget }}\nmessage:{{ $('On form submission').item.json.Message }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1300,
        0
      ],
      "id": "d1407478-8d5c-4a8f-b1a7-b97d26e8b993",
      "name": "Gmail2",
      "webhookId": "38baf0ae-b088-40e2-a97c-2c5cb104c95d",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZWT6yMa5kJzgmMcD",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d6ffc817-5997-419b-9b9e-b737d1606521",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1f6874d3dab81a02ca5faf85c76576e0d3e5d86684a0671fc956c2c46c94c127"
  },
  "id": "22r0zA229KHpbbwd",
  "tags": [
    {
      "name": "sales",
      "id": "nQCCUSsdLqdNylXQ",
      "createdAt": "2025-04-03T15:11:52.550Z",
      "updatedAt": "2025-04-03T15:11:52.550Z"
    }
  ]
}